.loginBtn{
    -fx-background-color: #0fc587;
}

.loginAncPane{
    -fx-background-image: url(../img/login.jpg);
    -fx-background-size: cover;
}

.loginPane{
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.loginVbox{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #e0e0e0;
}

.loginVbox Label:hover{
    -fx-background-color: #00ad44;
    -fx-text-fill: white;
}

.confirmLabel{
    -fx-border-width: 1 1 1 1;
    -fx-background-color: #93b5cf;
    -fx-border-color: #00ad44;
}
